.headings {
    color: red;
    background-color: blue;
}

.parispara{
    background-color: beige;
}

#londonheading{
    background-color: pink;
}

span {
    padding-left: 5px;
    padding-right: 5px;
    border-top: 2px solid black;
    border-bottom: 4px solid gray;
}
#parabord{
    border-style: ridge;
    border-color: lightgreen ;
    border-width: 10px ;
    margin: 5px;

}
